<style>
    .izquierda{
        text-align: left;
    };

</style>
<div class="bloque">
    <div class="row">
        <div class="col-sm-10">
        <p class="h5">
            <strong>
            <i class="far fa-arrow-alt-circle-right"></i>  
            Recepcion de Materiales 
        </strong>
        ( VALIDACION )
        
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <div class="raya"></div>
        </div>
    </div>
    <br/>
    ###menu_aux###
    <br/>
   
   <div class="row">
       <div class="col-5">
        <div id="buscar">
            ###buscar###
        </div>
       </div>
   </div>
       

    <div id="listado">
        ###listado###
    </div>
</div>