<div class="row">
    <div class="col-sm-12">
        <p class ="h6">
            <strong>
                <i class="fas fa-angle-double-right"></i> Validación de Materiales
            </strong>
        </p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-1">
        <label for="">
            RS
        </label>               
    </div>
    <div class="col-sm-2">
        <strong>
            ###rs###
        </strong>
    </div>
    <div class="col-sm-1">
        <label for="">
            Codigo Interno
        </label>
    </div>
    <div class="col-sm-2">
        <strong>
            ###token###
        </strong>
        <input type="hidden" name="token" id="token" value="###token###">
    </div>
    <div class="col-sm-1">
        <label for="">
            Creado Por
        </label>               
    </div>
    <div class="col-sm-3">
        <strong>
            <i class="fas fa-user-circle"></i> ###creado_por###
        </strong>
    </div>

</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <div id="lista-materiales">
            ###listado###
        </div>
    </div>
</div>