<tr>
    <td>###num###</td>
    <td>###insumo###</td>
    <td>###stock###</td>
    <td>###cantidad_solicitada###</td>
    <td>###unidad###</td>
    <td>
        <input type="number" 
               name="cantidad_ok" 
               id="cantidad_ok"
               class="cantidad_ok form-control"
               placeholder="Ingrese Cantidad"
               >         
        <input  type="hidden" 
                name="id_insumo" 
                id="id_insumo" 
                class="id_insumo"
                value="###ID###">       

        <input  type="hidden" 
                name="id_elemento" 
                id="id_elemento" 
                class="id_elemento"
                value="###id_elemento###"> 

        <input  type="hidden" 
                name="cantidad_recibida" 
                id="cantidad_recibida" 
                class="cantidad_recibida"
                value="###cantidad_solicitada###">             
    </td>
    <td>###fecha_ingreso###</td>
    <td>###fecha_actualizacion###</td>
    <td>###estado###</td>          
</tr>