<div class="row">
    <div class="col-sm-4">
        <input type="date"
               name="fecha-inicio"
               id="fecha-inicio"     
               placeholder = "Fecha de Inicio"
               class="form-control"
               >                
    </div>
    <div class="col-sm-4">
        <input type="date"
               name="fecha-final"
               id="fecha-final"     
               placeholder = "Fecha Final"
               class="form-control"
               >                
    </div>    
</div>
<br>
<div class="row">
    <div class="col-sm-8">
        <button class = "btn btn-block btn-secondary" id="buscarXfecha">
            Buscar por Fecha
        </button>
    </div>
</div>
<br>