<div class="row">
  <div class="col-md-12">
   <h5><i class="fas fa-exchange-alt"></i> CAMBIO DE CLAVE</h5>
   <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="password" name="pass1" id="pass1" placeholder="introduzca clave" class="form-control">
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="password" name="pass2" id="pass2" placeholder="repita clave" class="form-control">
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" id="cambia-clave-button" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-key"></i> Cambiar Clave</button>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id='cambio-clave'>
    <input type="hidden" name="yop" id="yop" value="@@@yop">
    <br>
  </div>
</div>
<script type="text/javascript">
  
  $(document).ready(function() {
    
      $('#cambia-clave-button').click(function(event) {
        
          var pass1 = $('#pass1').val();
          var pass2 = $('#pass2').val();
          var yop   = $('#yop').val();
              
          if( pass1 == '' || pass2=='')
          {

            alert(' No dejar campos vacíos')
            return false
  
          }else{

               if( pass1 != pass2 ){

                  alert(' campos no coinciden')
                  return false

               }else{

                    if( !validaClave( pass1 ) ){

                        alert("El tamaño de la clave no puede ser inferior a 8 caracteres")
                        return false

                    }else{

                            var data  = { 'id':'actualizaClave','pass1':pass1,'pass2':pass2,'yop':yop }

                            $.ajax({
                                        type: "POST",
                                        url: "response.php",
                                        data: data,
                                        beforeSend:loadingImagen,
                                    
                                        success: function( response ) {
                                          console.log(response);

                                        $("#multiverse").html(response);
                                         
                                        },
                                      
                                        error: function( response ) {
                                        console.log(response);
                                        window.location.reload(true);
                                      }
                                    });                     
                          }
                    } 
                }  
          });
    });

  function validaClave( cadena )
  {

  if( cadena.length < 8 )
    return false
  else
    return true

  } 

  function loadingImagen(){

      var x=$("#form1");
      x.html('<center>CARGANDO....PACIENCIA!<center>');

  }
</script>