
<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="#" id="mis-publicaciones" data-dismiss="modal">Mis Publicaciones</a>
		</div>	
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="#" data-dismiss="modal">Mi Plan</a>
		</div>	
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="#" id="edita-mis-datos" data-dismiss="modal">Editar Datos Personales</a>
		</div>	
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="#" id="desbloquea-publisher" data-dismiss="modal">Desbloquear Publicador</a>
		</div>	
	</div>
</div>
<br>
<!--
<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="#" id="notificaciones" data-dismiss="modal">Activar/Desactivar Notificaciones</a>
		</div>	
	</div>
</div>
<br>
-->
<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="#" id="change-my-pass" data-dismiss="modal">Cambiar Clave</a>
		</div>	
	</div>
</div>
<br>


<div class="row">
	<div class="col-md-12">
		<div class="config-menu">
			<a href="usuario_salir.php">Salir</a>
		</div>	
	</div>
</div>	