<style>
    .izquierda{
        text-align: left;
    };

</style>
<div class="bloque">
    <div class="row">
        <div class="col-sm-10">
        <p class="h4">
            <strong>
            <i class="far fa-arrow-alt-circle-right"></i>  
            Recepcion de Materiales 
        </strong>
        ( Crear )
        
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <div class="raya"></div>
        </div>
    </div>
    <br/>
    ###menu_aux###
    <br/>
    <div id="listado">
        ###form###
    </div>
</div>