<div class="row">
    <div class="col-sm-6">
        Requerimiento
    </div>
    <div class="col-sm-6">
        Unidad de Medida
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <input type="text" id="requerimiento"
               name="requerimiento"
               class="form-control"
               placeholder="Ingrese la cantidad requerida">
    </div>
    <div class="col-sm-6">
        ###select-unidad###
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        Insumo
    </div>
    <div class="col-sm-6">
        Proveedor
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        ###select-insumo###
    </div>
    <div class="col-sm-6">
        ###select-proveedor###
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        Stock
    </div>
    <div class="col-sm-6">
        A Comprar
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div id="espacio-stock">
            <input type="text" class="form-control" name="stock" id="stock" disabled>
            <input type="hidden" name="stock" id="stock" value="0">
        </div>
    </div>
    <div class="col-sm-6">
        <input type="text" id="a_comprar"
                name="a_comprar"
                class="form-control"            
                placeholder="Ingrese a_comprar">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        Precio Unitario
    </div>
    <div class="col-sm-6">
        Valor Total
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <input type="text" id="precio_unitario"
               name="precio_unitario"
               class="form-control"               
               placeholder="Ingrese precio_unitario, sin puntos">
    </div>
    <div class="col-sm-6">
        <input type="text" id="costo_total"
                name="costo_total"
                class="form-control"
                placeholder="Ingrese valor_total, sin puntos">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        Seleccione Item
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        ###select-item###
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        Comentario
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <input type="text" class="form-control" name="comentario" id="comentario">
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <input type="hidden" id="codigo" name="codigo" value="###codigo###">
        <button class="btn btn-block btn-secondary" id="creaMaterial" data-dismiss="modal">
            <i class="fas fa-angle-double-right"></i> Añadir Material
        </button>
    </div>
</div>

<script>

    $('#id_insumo').on('change',function(){

        var id_insumo = $(this).val();

        if( id_insumo == '' )
        {alert('Debe seleccionar un insumo'); return false; }
        else{
            var data = {'id':'sacaStock','id_insumo':id_insumo};
            ajx('#espacio-stock',data);
        }
    });

    setInterval(() => {

        let req             = $('#requerimiento').val();
        let stock           = $('#stock').val();
        let precio_unitario = $('#precio_unitario').val();

        let dif = stock - req;

        if( dif < 0 )
        {
            final = (-1)*dif; 
        }else if( dif > 0 )
        {
            final = 0;
        }else{
            final = req;
        }   

        total = final*precio_unitario;

        $('#a_comprar').val(final); 
        $('#costo_total').val( total ); 

        }, 3000);

    $('#creaMaterial').on('click',(event )=>{

        event.preventDefault();
        let requerimiento   = $('#requerimiento').val();
        let id_unidad       = $('#id_unidad').val();
        let id_insumo       = $('#id_insumo').val();
        let id_proveedor    = $('#id_proveedor').val();
        let stock           = $('#stock').val();
        let a_comprar       = $('#a_comprar').val();
        let precio_unitario = $('#precio_unitario').val();
        let costo_total     = $('#costo_total').val();
        let id_item         = $('#id_item').val();
        let comentario      = $('#comentario').val();  
        let codigo          = '###codigo###';  

        if( requerimiento =='' || id_unidad=='' || id_insumo=='' || id_proveedor=='' ||
        stock=='' || a_comprar=='' || precio_unitario=='' || costo_total=='' ||
        id_item=='' || comentario=='')
        {
            alert('no deben existir campos vacíos');
            return false;
        }else{

            let data ={
            'requerimiento'     : requerimiento,
            'id_unidad'         : id_unidad,
            'id_insumo'         : id_insumo,
            'id_proveedor'      : id_proveedor,
            'stock'             : stock,
            'a_comprar'         : a_comprar,
            'precio_unitario'   : precio_unitario,
            'costo_total'       : costo_total,
            'id_item'           : id_item,
            'comentario'        : comentario,
            'codigo'            : codigo,
            'id'                :'ingresaMaterialData'
            };

            ajx( '#results', data ); 
        }
      //alert('codigo:'+codigo)
    });

</script>