<table>
    <tr>
        <td>
            Guia de Despacho
        </td>
        <td>
            ###guia-despacho###
        </td>
    </tr>
</table>

<table border="1" cellpadding="1" cellspacing="0" width="100%">    
      <tr>
        <th>Fecha</th>
        <th>Insumo</th>
        <th>Num. documento</th>
        <th>Tipo Documento</th>      
        <th>Cantidad</th>
        <th>Valor Unitario</th>
        <th>Valor Total</th>
        <th>Proveedor</th>
      </tr>        
      ###tr###        
      <tr>
        <td colspan="6"><strong>TOTAL</strong> </td>
        <td colspan="2"><strong>$ ###valor-total###</strong> </td>
      </tr>    
  </table>