<div class="row">
  <div class="col-sm-2">
    Código
  </div>
  <div class="col-sm-10">
    <input type="text" name="" value="###codigo###"
           disabled="disabled" class="form-control">
    <input type="hidden"
            name="codigo-###id###" id="codigo-###id###"
            value="###codigo###">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    Insumo/producto
  </div>
  <div class="col-sm-10">
    <input type="text" name="" value="###insumo###"
           disabled="disabled" class="form-control">
    <input type="hidden"
            name="insumo-###id###" id="insumo-###id###"
            value="###insumo###">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    Cliente
  </div>
  <div class="col-sm-10">
    ###select-cliente###
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    Trabajo
  </div>
  <div class="col-sm-10">
    <div id="espacio-combo-trabajo-###id###">
<!--
      <select class="form-control" name="id-trabajo-###id###" disabled>
         <option value="">Seleccione Trabajo</option>
      </select>
      <input type="hidden" name="id-trabajo-###id###" id="id-trabajo-###id###" value="">
-->
    ###select-trabajo###

    </div>



  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    Lugar de Destino
  </div>
  <div class="col-sm-10">
    ###select-destino###
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    Cantidad
  </div>
  <div class="col-sm-10">
    <input type="text" name="cantidad2" id="cantidad2-###id###"
            class="form-control" placeholder="Ingresar cantidad">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    Comentarios
  </div>
  <div class="col-sm-10">
    <textarea name  ="comentarios-###id###"
              id    ="comentarios-###id###" rows="8" cols="80"
              class="form-control">
    </textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <input type="hidden"
            name="id_user-###id###" id="id_user-###id###"
            value="###id_user###">
      <button class="btn btn-block btn-info" id="envia-egreso-###id###" data-dismiss="modal">
          <i class="fas fa-angle-double-right"></i>  Enviar Datos
      </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div id="notifica2-###id###"></div>
  </div>
</div>

<script>
/*
 $('#id-cliente-###id###').on('change',function(){
    var id_cliente = $(this).val();
    var id_inventario = '###id###';

    if( id_cliente == '' )
    {alert('debe seleccionar un cliente'); return false;}
    else{

      var data={'id':'displayComboTrabajos',
                'id_cliente':id_cliente,
                'id_inventario':id_inventario
              };
      ajx('#espacio-combo-trabajo-###id###', data );

    }
 }); */

  $('#envia-egreso-###id###').on('click' , ()=>{

    let id_user     = $('#id_user-###id###').val();
    let codigo      = $('#codigo-###id###').val();
    let insumo      = $('#insumo-###id###').val();
    let id_trabajo  = $('#id-trabajo-###id###').val();
    let id_cliente  = $('#id-cliente-###id###').val();
    let id_destino  = $('#id-destino-###id###').val();
    let cantidad    = $('#cantidad2-###id###').val();
    let comentarios = $('#comentarios-###id###').val();
    let id_inventario = '###id###';

    if( id_trabajo == '' || id_cliente == '' || id_destino == '' || cantidad == '' )
    {
      alert( 'los campos cliente, trabajo , destino y cantidad no pueden estar vacíos' );

      //alert( "cantidad :"+cantidad );
      return false;

    }else{
      if( !validaNumeroEntero( cantidad ) )
      {
          alert( 'La cantidad debe ser un número entero' );
          return false;

      }else{

        let data = {  'id_user'     : id_user,
                      'codigo'      : codigo,
                      'insumo'      : insumo,
                      'id_trabajo'  : id_trabajo,
                      'id_cliente'  : id_cliente,
                      'id_destino'  : id_destino,
                      'cantidad'    : cantidad,
                      'comentarios' : comentarios,
                      'id_inventario' : id_inventario,
                      'id'          : 'ingresaDataEgreso'};


        if( confirm( "Está seguro de ingresar los datos???" ) )
            ajx('#espacio-stock-###id###', data);

      }
    }
  }) ;
</script>
