<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id='formulario-incio'>
	<form enctype="multipart/form-data" class="formulario"> 
<div class="container">	
	<center>
        <div class="row">
                <div class="col-md-12">
                    <a href="index.php"><img src="img/ebenty-log.png" class="img-fluid" width="50%"></a>
                </div>
         </div>
     </center>    

<div id="body-inicio">
	<div class="row">
		<div class="col-md-12">
			<h5><strong><i class="fas fa-address-book"></i> Crea una Cuenta</strong></h5>
		</div>
	</div>



<div  class="fondo-form-inicio">
	<div class="row">
		<div class="col-md-4">			
				<strong>Nombres</strong>
				<input type="text" name="nombres" id="nombres" class="form-control">			
		</div>
			<div class="col-md-4">
				<strong>Apellidos</strong>
				<input type="text" name="apellidos" id="apellidos" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
				<strong>Correo Electrónico</strong>
				<input type="email" name="correo-electronico" id="correo-electronico" class="form-control">
		</div>
			<div class="col-md-4">
				<strong>Teléfono Celular</strong>
				<input type="text" name="celular" id="celular" class="form-control">
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4">
				<strong>Password</strong>
				<input type="password" name="pass1"  id="pass1" class="form-control">
		</div>
			<div class="col-md-4">
				<strong>Repite Password</strong>
				<input type="password" name="pass2" id="pass2" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
				<strong>Sexo</strong>
				@@@SELECT-SEXO@@@
		</div>		
	</div>	

	<div class="row">
		<div class="col-md-4">
				<strong>País</strong>
				@@@SELECT-PAIS@@@
		</div>		
	</div>	


	<div class="row">
		<div class="col-md-6">
				<strong>Región / Provincia</strong>
				<div id="region-provincia">	
						<input type="hidden" id="id_region" name="id_region2" value="">	
						<select id="id_region" class="form-control" disabled="disabled">
							<option>Seleccione Region o Provincia</option>
						</select>
				
				</div>	
	</div>
	</div>

	<div class="row">
		<div class="col-md-6">
				<strong>Ciudad</strong>
				<div id="ciudad">	
						<input type="hidden" id="id_ciudad" name="id_ciudad" value="">	
						<select id="id_ciudad" class="form-control" disabled="disabled">
							<option>Seleccione ciudad</option>
						</select>
				</div>	
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<strong>Fecha de Nacimiento</strong>
		</div>
			
	</div>
	<div class="row">
		
		<div class="col-md-3">
			@@@SELECT-DIA@@@
		</div>		
		<div class="col-md-3">
			@@@SELECT-MES@@@
		</div>
		<div class="col-md-3">
			@@@SELECT-YEAR@@@
		</div>		
	</div>
	<div class="row">
		<div class="col-md-6">
			<strong>Selecciona una imagen de perfil</strong>
		</div>
			
	</div>
	<div class="row">
		<div class="col-md-9">
			<input type="file" name="archivo" id="archivo" class="form-control">
		</div>	
	</div>	
	<br>

	<div class="alert alert-success" role="alert">
	<i class="fas fa-exclamation-circle"></i> <strong>Nota:</strong> Todos los campos son obligatorios
	</div>

	<div class="alert alert-info" role="alert">
		<input type="checkbox" name="chk-acepto" id="chk-acepto" value="1"> Acepto Términos y condiciones
		<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#terms"><i class="fas fa-book-open"></i> Ver Términos y Condiciones</a>
	    <input type="hidden" name="id" id="id" value="ingresaUser">
	<!-- Modal -->
	<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Términos y Condiciones</h5>
	       
	       		 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	         

	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."        


	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        
	      </div>
	    </div>
	  </div>
	</div>


	</div>

	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-danger btn-lg" id="creaUser2"><i class="fas fa-arrow-circle-right"></i> Crear Cuenta</button> 
		</div>
		<div class="col-md-5">
			<div class="alert alert-dark" role="alert">
			Al hacer clic en <strong>Crear Cuenta</strong> aceptas las condiciones de uso y confirmas que leíste nuestras políticas y condiciones incluido el uso de cookies.
		</div>
		</div>
	</div>
</div>	
	</form>
</div>
</div>

<br><br><br>
<script type="text/javascript">
	
	$(document).ready(function() {
	

		$('#idPais').on('change', function() {
	  			var value = $(this).val();
	  
	  			var data = {'id':'displayComboRegionProvincia',
	  						'idPais':value};
			
			$.ajax({
	                type: "POST",
	                url: "response.php",
	                data: data,
	            
	                success: function( response ) {
	                  console.log(response);

	                $("#region-provincia").html(response);
	                 
	                },
	              
	                error: function( response ) {
	                console.log(response);
	                window.location.reload(true);
	              }
	            });	
	     });

		$('#creaUser2').click(function(event) {
			//alert('ok...')
			//return false

		var nombres 			= $('#nombres').val()
		var apellidos 			= $('#apellidos').val()
		var correoElectronico 	= $('#correo-electronico').val()
		var celular 			= $('#celular').val()
		var pass1 				= $('#pass1').val()
		var pass2 				= $('#pass2').val()
		var id_sexo 			= $('#id_sexo').val()
		var idPais	 			= $('#idPais').val()
		var id_regionProvincia	= $('#id_region').val()
		var id_dia 				= $('#id_dia').val()
		var id_mes 				= $('#id_mes').val()
		var id_year 			= $('#id_year').val()
		var id_ciudad 			= $('#id_ciudad').val()
		var img_user			= $('#archivo').val()

		var formData 	= new FormData($(".formulario")[0]); 


if (nombres == '' || apellidos == '' || correoElectronico == '' || celular == '' || pass1 == '' || pass2 == '' || idPais == '' || id_regionProvincia =='' || id_dia == '' || id_mes == '' || id_year == '' || id_sexo == '' || id_ciudad == '' || img_user=='')
		{

			alert('No dejes campos vacios')
			return false

		}else
			if( pass1 != pass2 )
			{
				alert('Las Claves no coinciden')
				return false

			}else
				if( !validaEmail( correoElectronico ))
				{
				
					alert('Correo Electronico no valido')
					return false
				
				}else
					if( !validaClave ( pass2 ) )
					{

						alert( 'La clave debe tener al menos 8 caracteres' )
						return false

					}else
						if( $('#chk-acepto')[0].checked  )				
							{
								$.ajax({
		              
						              type: "POST",
						              url: "response.php",
						              data: formData,
						              cache: false,
						              contentType: false,
						              processData: false,
						          
						              success: function( response ) {
						                console.log(response);

						              $("#multiverso").html(response);
						               
						              },
						            
						              error: function( response ) {
						              console.log(response);
						              window.location.reload(true);
						            }
						          }); 	
								return false;
							}	
					else{

						alert('Debe aceptar los terminos y condiciones')
						return false;
					}
			//}	
		});
	});

	function validaEmail(mail)
    {
        return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(mail);
    }

function loadingImagen(){

	    var x=$("#principal");
   		x.html('<center>CARGANDO....PACIENCIA!<center>');

  }

function validaClave( cadena )
{

	if( cadena.length < 8 )
		return false
	else
		return true

}

function validaImagen( imagenName )
{

	var res = imagenName.split()

	if( res[1] == 'jpg' || res[1] == 'jpeg' )	
		return true;
	else
		return false;
}

</script>