<form enctype="application/x-www-form-urlencoded" method="post" class="formulario-###id###">
    <div class="row">
      <div class="col-sm-3">
        Código
      </div>
      <div class="col-sm-9">
        <input type="text" name="codigo" value="###codigo###"
               disabled="disabled" class="form-control">
        <input type  ="hidden"
                name ="codigo"
                id   ="codigo-###id###"
                value="###codigo###">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        Insumo
      </div>
      <div class="col-sm-9">
        <input type="text" name="insumo" value="###insumo###"
               disabled="disabled" class="form-control">
        <input type="hidden"
                name="insumo" id="insumo-###id###"
                value="###insumo###">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        Proveedor
      </div>
      <div class="col-sm-9">
        ###select-proveedor###
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        Tipo de Documento
      </div>
      <div class="col-sm-9">
        ###select-tipo-documento###
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        Número de Documento
      </div>
      <div class="col-sm-9">
        <input  type="text"
                name="num-documento"
                id="num-documento-###id###"
                placeholder="Ingrese Documento" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        Cantidad
      </div>
      <div class="col-sm-9">
        <input type="text" name="cantidad" id="cantidad-###id###"
                class="form-control" placeholder="Ingresar cantidad">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        Archivo (opcional)
      </div>
      <div class="col-sm-9">
        <input type="file" name="archivo" id="archivo-###id###" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <input type="hidden" name="id_inventario" id="id_inventario-###id###" value="###id###">
        <input type="hidden" name="id" id="id" value="ingresaDataIngreso2">
        <input type="hidden"
                name="id_user" id="id_user-###id###"
                value="###id_user###">
          <button class="btn btn-block btn-info" id="envia-ingreso-###id###" data-dismiss="modal" type="button">
              <i class="far fa-save"></i> Guardar
          </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div id="notifica-###id###"></div>
      </div>
    </div>
</form>
<script>
$('#envia-ingreso-###id###').on( 'click', function(){

  var codigo          = $('#codigo-###id###').val();
  var insumo          = $('#insumo-###id###').val();
  var id_proveedor    = $('#id-proveedor').val();
  var cantidad        = $('#cantidad-###id###').val();
  var id_user         = $('#id_user-###id###').val();
  var num_documento   = $('#num-documento-###id###').val();
  var tipo_documento  = $('#tipo-documento').val();
  var id_inventario   = '###id###';

  var formData        = new FormData($(".formulario-###id###")[0]);

  if( cantidad == '' || num_documento=='' || tipo_documento=='')
  {
    alert( 'Cantidad y Proveedor son campos obligatorios' );
    return false;
  }else
      if( !validaNumeroEntero( cantidad ) )
      {
        alert( 'la Cantidad debe ser un numero entero' );
        return false;
      }else {
        /*
                let data = { 'codigo'       : codigo,
                          'insumo'          : insumo,
                          'id_proveedor'    : id_proveedor,
                          'cantidad'        : cantidad,
                          'id_user'         : id_user,
                          'id_inventario'   : id_inventario,
                          'id'              :'ingresaDataIngreso' };

            if( confirm( "Está seguro de ingresar los datos???" ) )
               ajx( '#espacio-stock-###id###', data )
        */

        $.ajax({
                  type: "POST",
                  url: "response.php",
                  data: formData,
                  cache: false,
                  contentType: false,
                  processData: false,
                  //beforeSend:cargaImagen,

                  success: function( response ) {

                  $("#espacio-stock-###id###").html(response);

                  },

                  error: function( response ) {

                  window.location.reload(true);
              }
          });
    }
});
</script>
