<script src="js/push.js"></script>

<form enctype="application/x-www-form-urlencoded" method="post" class="formulario">
<div class="bloque">
    <div class="row">
      <div class="col-sm-10">
        <p class="h4">
          <strong>
          <i class="far fa-arrow-alt-circle-right"></i>  Formulario de Inventario
          </strong>
            ( ###title### ) <a href="content-page.php?id=aW5pY2lv" class="btn btn-sm btn-secondary outline-line-gris">
                   Ir a Listado 
            </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="raya"></div>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col-sm-10">
        ###notificacion###
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      (*)  Nombre de Producto
    </div>
    <div class="col-sm-6">
      <input type="text"
             name="elemento"
             id="elemento"
             value="###elemento###"
             placeholder="Ingrese Nombre de Producto/Insumo"
             class="form-control" ###disabled###>
             ###hidden_elemento###
    </div>
    <div class="col-sm-2">
      ###btn-movimientos### ###modal###
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      (*) Operativo
    </div>
    <div class="col-sm-8">
       ###select-operativo###
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-2">
      (*) Ubicación
    </div>
    <div class="col-sm-8">
       ###select-ubicacion###
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
    (*)  Sub Ubicación
    </div>
    <div class="col-sm-8">
      <div id="espacio-sub-ubicacion">
        ###select-disabled1####
      </div>
    </div>
  </div>
  
  <!--
  <div class="row">
    <div class="col-sm-2">
      (*) Categoría
    </div>
    <div class="col-sm-8">
       ###select-Tipo###

       
    </div>
  </div>

-->
  <br>
  <div class="row">
    <div class="col-sm-2">
      (*) Familia
    </div>
    <div class="col-sm-8">
      <div id="espacio-sub-tipo">
        <input type="hidden" name="id_tipo" id="id_tipo" value="5"> 


          ###select-familia###
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      (*)  Código
    </div>
    <div class="col-sm-8">
      <div id="txt-codigo-final"></div>
      
      <div id="codigo-final-field">

        <input type="text"
                name="codigo_final"
                id="codigo_final"
                value="###codigo_final###"
                placeholder="Campo de Código"
                class="form-control" disabled> 

        <input type="hidden" name="codigo_final" id="codigo_final" value="">


        
        <div id="espacio-codigo"></div>
      </div>
    </div>
  </div>
 <br>
  <div class="row">
    <div class="col-sm-2">(*) Proveedor</div>
    <div class="col-sm-8">
           ###select-proveedor###
    </div>
  </div>
<br>
<div class="row">
  <div class="col-sm-2">(*) Valor/Costo</div>
  <div class="col-sm-8">
         <input type="text" name="valor" id="valor" placeholder="Ingrese Valor" class="form-control" value="###valor###"> 
  </div>
</div>

  <br>
  <div class="row">
    <div class="col-sm-2">
      (*)  Stock
    </div>
    <div class="col-sm-3">
      <input type="text"
             name="cantidad"
             id="cantidad"
             value="###cantidad###"
             placeholder="ingrese stock"
             class="form-control">
    </div>
    <div class="col-sm-2">
      (*)  Unidad
    </div>
    <div class="col-sm-3">
      ###select-unidad###
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      (*)  Stock Crítico
    </div>
    <div class="col-sm-3">
      <input type="text"
             name="cantidad_minima"
             id="cantidad_minima"
             value="###cantidad_minima###"
             placeholder="ingrese critico"
             class="form-control" ###disabled###>
             ###hidden_stock_min###
    </div>
    <div class="col-sm-5">
      ###btn-stck-critico###
      <br><br>
      <div id="espacio-msg"></div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
      (*) Descripcion
    </div>
    <div class="col-sm-8">
        <textarea name="descripcion"
                  id="descripcion"
                  class="form-control"
                  rows="8" cols="80" ###disabled###>###descripcion###</textarea>
        ###hidden_descripcion###
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
        Archivo / Imagen
    </div>
    <div class="col-sm-8">
      <div id="espacio-archivo">
        ###file###
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-10">
      ###hidden###
      ###hidden_codigo###

      <input type="hidden" name="id" id="id" value="###target###">
      <button  class="btn btn-secondary btn-block rounded-pill outline-line-gris" id="###id_button###" type="button">
        <i class="far fa-save"></i>  Guardar
      </button>
      <br>
    </div>
  </div>
</div>
</form>
<br>
<div class="row">
  <div class="col-sm-10" id="notificacion">

  </div>
</div>
<script>

  $('#sub_tipo').on('change', function(){

    var id_subtipo = $(this).val();

    if( id_subtipo == '' )
    { alert( 'Debe ingresar una Familia' ); return false;  }
    else{
      
      //var result =  sacaCodigoFam( id_subtipo  );      
      //$( '#codigo_final' ).val( result);

      //MODIFICACION DE CODIGO!
      //COLOCARENOS EL ULTIMO CODIGO DE MANERA AUTOMATICA
      //MEDIANTE AJAX

      let data = {'id':'sacaAutoCodigoFinal' , 'id_subtipo':id_subtipo}  ;
      ajx('#codigo-final-field' , data);

    }
  });

  function sacaCodigoFam( id_fam )
  {

    let res = "some";

    if( id_fam ==  95)
      res = 1010;
    else if( id_fam ==  90  )
      res = 1020;
    else if( id_fam== 91) 
      res = 1030
    else if( id_fam == 78 )   
      res = 1040
    else if( id_fam == 94 )   
      res = 1050  
    else if( id_fam == 92 )   
      res = 1060  
    else res = 1070;

    return res;
  }

  $('#codigo_final').on('change',( event )=>{
    event.preventDefault();

    $('#espacio-codigo').show(300);

    let codigo_final = $('#codigo_final').val();

    if( codigo_final=='' )
    {
      alert('Debe ingresar un codigo');
      return false;

    }else{

        let data = {'id':'verificaDispCodigo','codigo-final':codigo_final};
        ajx( '#espacio-codigo', data );

        setTimeout( function(){
          $('#espacio-codigo').hide(300)
        },2000 );
        
    }
  });

  $('#envia-msg').on('click',()=>{

    let id_elemento = '###id_elemento###';
    let codigo      = $('#codigo').val();

    if ( confirm( 'Está seguro de enviar mensaje????' ) )
    {
      let data = {'id'          : 'enviaStockCriticoUnitario',
                  'id_elemento' : id_elemento,
                  'codigo'      : codigo                      };

      ajx('#espacio-msg', data);
      return false;
    }
  });


 //enviar datos por ajax
  $('#eliminaArchivo').on( 'click', (event )=>{

    event.preventDefault();

    if( confirm( 'Está Seguro de eliminar Archivo?' ) )
    {
      let data = {'id':'fileForm'};
      ajx( '#espacio-archivo', data );
     }
  });

  $('#edit').on( 'click',()=>{

    for ( instance in CKEDITOR.instances ) {
           CKEDITOR.instances[instance].updateElement();
       }

    var elemento              = $('#elemento').val();
    var idUbicacion           = $('#idUbicacion').val();
    var sub_ubicacion         = $('#sub-ubicacion').val();
    var id_tipo               = $('#id_tipo').val();
    var sub_tipo              = $('#sub_tipo').val();
    var cantidad              = $('#cantidad').val();
    var cantidad_minima       = $('#cantidad_minima').val();
    var descripcion           = $('#descripcion').val();
    var id_inventario         = $('#id_inventario').val();
    var codigo                = $('#codigo').val();
    var id_unidad             = $('#id_unidad').val();
    var codigo_final          = $('#codigo_final').val();
    var id_proveedor          = $('#id_proveedores').val();
    var valor                 = $('#valor').val();
    var id_afirmacion         = $('#id_afirmacion').val(); 

    var formData              = new FormData($(".formulario")[0]);


    if( elemento == '' || idUbicacion == '' || sub_ubicacion == '' || id_tipo =='' || sub_tipo == '' ||
        cantidad == '' || cantidad_minima == '' || id_unidad=='' || codigo_final =='' || id_proveedor =='' || valor =='' || id_afirmacion == ''  )
    {
        alert( 'Todos los campos son obligatorios' );
        return false;

    }else{
        if( !validaNumeroEntero(cantidad) )
        {
          alert( 'La cantidad debe ser un numero entero' );
          return false;
        }else
        if( !validaNumeroEntero(cantidad_minima) )
        {
          alert( 'La cantidad Minima debe ser un numero entero' );
          return false;

        }else{

           if( !validaNumeroEntero( codigo_final ) )
           {
              alert( "Codigo no es numero entero" );
              return false;

           }else{

            if( codigo_final < 1010000 || codigo_final > 1200999   )
             {
                alert( "Codigo no valido" ); return false;
             }else{

              $.ajax({
                    type: "POST",
                    url: "response.php",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //beforeSend:cargaImagen,

                    success: function( response ) {

                    $("#notificacion").html(response);

                    },

                    error: function( response ) {

                    window.location.reload(true);
                }
            });

           //notificacion();  

             }            
           } 
        }
    }
  });

  $('#send').on('click', function(){

    for ( instance in CKEDITOR.instances ) {
           CKEDITOR.instances[instance].updateElement();
       }

    var elemento              = $('#elemento').val();
    var idUbicacion           = $('#idUbicacion').val();
    var sub_ubicacion         = $('#sub-ubicacion').val();
    var id_tipo               = $('#id_tipo').val();
    var sub_tipo              = $('#sub_tipo').val();
    var cantidad              = $('#cantidad').val();
    var cantidad_minima       = $('#cantidad_minima').val();
    var descripcion           = $('#descripcion').val();
    var id_unidad             = $('#id_unidad').val();
    var codigo_final          = $('#codigo_final').val();
    var id_proveedor          = $('#id_proveedores').val();
    var valor                 = $('#valor').val();
    var id_afirmacion         = $('#id_afirmacion').val();   

    var formData              = new FormData($(".formulario")[0]);

    if( elemento == '' || idUbicacion == '' || sub_ubicacion == '' || id_tipo =='' || sub_tipo == '' ||
        cantidad == '' || cantidad_minima == '' || descripcion == '' || id_unidad == '' || codigo_final=='' || id_proveedor =='' || valor =='' || id_afirmacion =='')
    {
        alert( 'Todos los campos son obligatorios' );
        return false;

    }else{
        if( !validaNumeroEntero(cantidad) )
        {
          alert( 'La cantidad debe ser un numero entero' );
          return false;
        }else
        if( !validaNumeroEntero(cantidad_minima) )
        {
          alert( 'La cantidad Minima debe ser un numero entero' );
          return false;

        }else{

          if( !validaNumeroEntero( codigo_final ) )
          {
            alert( "Codigo no es numero entero" );
            return false;
          }else{
             if( codigo_final < 1010000 || codigo_final > 1200999   )
             {
                alert( "Codigo no valido" ); return false;
             }else{

              $.ajax({
                    type: "POST",
                    url: "response.php",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend:cargaImagen,

                    success: function( response ) {

                    $("#multiverso").html(response);

                    },

                    error: function( response ) {

                    window.location.reload(true);
                }
            });
            
             //notificacion();
             } 
          }
        }
    }
  });

  $('#id_tipo').on('change', function(){

    var id_tipo = $(this).val();

    if( id_tipo == '' )
    { alert('Elija un valor para tipo'); return false; }
    else{

      var data = {'id':'comboSubTipo', 'id_tipo':id_tipo};
      ajx( '#espacio-sub-tipo',data );
    }
  });

  $('#idUbicacion').on('change', function(){

    var idUbicacion = $(this).val();

    if( idUbicacion == '' )
    { alert( 'Elija un valor' ); return false;  }
    else{

      var data = { 'id':'comboSubUbicacion', 'id_ubicacion':idUbicacion };

      ajx( '#espacio-sub-ubicacion', data );
    }
  });

  $('#descripcion').ckeditor();

  //cargar imagen
  function cargaImagen()
  {
  var x=$("#multiverso");
      x.html('<center><div class="container"><div class="row"><div class="col-md-12"><img src="gfx/cargando.gif" class="img-fluid"></div></div></div><center>');
  }

  function validaNumeroEntero(numero){
      if (isNaN(numero)){
          return false;
      } else {
          if (numero % 1 == 0) {
              return true;
          } else {
              return false;
          }
      }
  }


function notificacion()
{
  Push.create("test!!!");
}

</script>
