<div class="bloque">
  <div class="row">
    <div class="col-sm-12">
      <p class="h4">
        <strong>
        <i class="far fa-arrow-alt-circle-right"></i>  Formulario de Destino/Rutas
        </strong>
          ( ###title### ) <a href="content-page.php?id=bGlzdGEtZGVzdGlubw==" class="btn btn-sm btn-secondary">
                [ Ir a Listado ]
          </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="raya"></div>
    </div>
  </div>
  <br>
  ###menu_aux###
  <br>
  <div class="row">
    <div class="col-sm-2">
      <label>Nombre de Destino</label>
    </div>
    <div class="col-sm-10">
      <input type ="text"
             name ="nombre_destino"
             id   ="nombre_destino"
             value="###nombre_destino###"
             class = "form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      ###hidden###
      <button  class="btn btn-info btn-block" id="###id_button###" type="button">
        <i class="fas fa-angle-double-right"></i>  Enviar Datos
      </button>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
        <div id="notificacion"></div>
    </div>
  </div>

</div>

<script>

  $('#update').on('click', () => {
    let nombre_destino = $('#nombre_destino').val();
    let id_destino     = $('#id_destino').val();

    if( nombre_destino == '' )
    {
      alert('Debe ingresar un nomrbe');
      return false;
    }else{

      let data = {'id'                :'editaDestinoData',
                   'nombre_destino' : nombre_destino,
                   'id_destino'     : id_destino
                  };
      ajx( '#notificacion',data );

    }
  });

  $('#send').on('click', () => {
    let nombre_destino = $('#nombre_destino').val();

    if( nombre_destino == '' )
    {
      alert('Debe ingresar un nomrbe');
      return false;
    }else{

      let data = {'id':'ingresaDestino', 'nombre_destino': nombre_destino };
      ajx( '#multiverso',data );

    }
  });
</script>
