<table>
    <tr>
        <td>
            <strong>
                NUMERO DE GUIA
            </strong>
        </td>
        <td>
            ###num_guia###
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                FECHA
            </strong>
        </td>
        <td>
            ###fecha###
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                PROVEEDOR
            </strong>
        </td>
        <td>
            ###proveedor###
        </td>
    </tr>
</table>
<br>
###tabla###