<div class="row" >
    <div class="col-sm-11" style="width: auto; height: 400px; overflow-y: auto;">
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Sel</th>
                    <th>Codigo</th>
                    <th>Insumo</th>
                    <th>Familia</th>
                    <th>Stock Actual</th>
                </tr>
            </thead>
            <tbody>
                ###tr###
            </tbody>
        </table>
    </div>
</div>