<div class="row" >
    <div class="col-sm-12" style="width: auto; height: 300px; overflow-y: auto;">
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Sel</th>
                    <th>Codigo</th>
                    <th>guia-desp</th>
                    <th>RS/OT</th>
                    <th>Insumo</th>
                    <th>Familia</th>
                    <th>Stock Actual</th>
                    <th>Cantidad</th>
                  <!--  <th>Valor Unitario</th> -->
                  <!--  ###th-v-total### -->
                </tr>
            </thead>
            <tbody>
                ###tr###
            </tbody>
        </table>        
        ###excel### &nbsp; ###pdf###
    </div>
</div>