<p class="h6">
    <i class="fas fa-angle-double-right"></i>
    <strong>
        ###ITEM###
    </strong>
</p>

<table class="table table-responsive table-hover">
    <thead class="thead-dark">
        <th>Req.</th>
        <th>U.Medida</th>
        <th width="35%">Insumo</th>
        <th width="20%">Proveedor</th>
        <th>Stock</th>
        <th>a_comprar</th>
        <th width='15%'>($)P. Unitario</th>
        <th width='10%'>($) Total</th>
      
    </thead>
    <tbody>
        ###tr###
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"></td>
            <td  class="bg-secondary blanco">
                <strong>
                    Total
                </strong>
            </td>
            <td  class="bg-secondary blanco">
                    $ ###suma_total###                
            </td>            
        </tr>
    </tfoot>
</table>