<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="content-page.php?id=aW5pY2lv">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXJJbnZlbnRhcmlv">Crear Productos</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFySW52ZW50YXJpbw==">Ver Inventarios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item menu-chico" href="content-page.php?id=Z2VuZXJhckNvbGFib3JhY2lvbmVz">Generar Colaboraciones</a>
            <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyQ29sYWJvcmFjaW9uZXM=">Listar Colaboraciones</a>            

          <!--
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXJJdGVtUHJvZHVjdG9z">Crear Item Insumos</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFySXRlbVByb2R1Y3Rvcw==">Listar Item Insumos</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Z2VuZXJhckNvbGFib3JhY2lvbmVz">Generar Colaboraciones</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyQ29sYWJvcmFjaW9uZXM=">Listar Colaboraciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Z2VuZXJhci1tYXRlcmlhbGVz">Generar Lista Materiales</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLW1hdGVyaWFsZXM=">Listar Materiales</a>
        -->

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Familias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!--          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItdGlwb3M=">Crear Categoría</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLXRpcG9z">Ver Categorías</a>
          <div class="dropdown-divider"></div>
        -->
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItc3VidGlwb3M=">Crear Familias</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLXN1YnRpcG9z">Listar Familias</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Sub Ubicaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItc3ViLXViaWNhY2lvbmVz">Crear Sub Unicaciones</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLXN1Yi11YmljYWNpb25lcw==">Ver Sub Ubicaciones</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLXVzdWFyaW9z">Ver Usuarios</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItdXN1YXJpb3M=">Crear Usuarios</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=YWNjZXNvcw==">Accesos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proveedores/Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLXByb3ZlZWRvcmVz">Ver Proveedores</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItcHJvdmVlZG9yZXM=">Crear Proveedores</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLXNlcnZpY2lv">Ver Servicios</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItc2VydmljaW8=">Crear Servicios</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guias de Despacho
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItZ3VpYS1kZXNwYWNoby1pbmdyZXNv">Crear Guia Despacho Ingreso</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLWd1aWEtZGVzcGFjaG8taW5ncmVzbw==">Listar Guia Despacho Ingreso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItZ3VpYS1kZXNwYWNoby1lZ3Jlc28=">Crear Guia Despacho Egreso</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLWd1aWEtZGVzcGFjaG8tZWdyZXNv">Listar Guia Despacho Egreso</a>


        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGEtY2xpZW50ZXM=">Ver Clientes</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItY2xpZW50ZXM=">Crear Clientes</a>
         
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=dmVyLXN1YmNsaWVudGVz">Ver Sub Clientes</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItc3ViY2xpZW50ZXM=">Crear Sub Clientes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItY2VudHJv">Crear Centro</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLWNlbnRyb3M=">Listar Centros</a>

        </div>
      </li>
     <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Destino
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGEtZGVzdGlubw==">Ver Destino</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItZGVzdGlubw==">Crear Destino</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item menu-chico" href="content-page.php?id=cmVsRGVzdGlub0NsaWVudGU=">Relacion Destino - Cliente</a>
        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trabajos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGEtdHJhYmFqb3M=">Ver Trabajos</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=Z2VuZXJhci10cmFiYWpvcw==">Crear Trabajos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">          
          <a class="dropdown-item menu-chico" href="content-page.php?id=Y3JlYXItZXF1aXBvcw==">Crear Equipos</a>
          <a class="dropdown-item menu-chico" href="content-page.php?id=bGlzdGFyLWVxdWlwb3M=">Listar Equipos</a>
        </div>
      </li>
    -->

    </ul>
  </div>
</nav>
