<form  class="formulario" enctype="multipart/form-data" >
<div class="row">
  <div class="col-md-12">
      <h5><strong>Usuario:</strong> @@@apaterno_razonsocial / <strong>@@@rut</strong></h5>
      <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
      <h5> Documentos Asignados </h5>
      <strong>Nota</strong> : Seleccione en los casilleros los documentos para ser eliminados
      <div id="espacio-tabla-docs">
        <table class="table table-hover">
            <thead >
                <tr>
                    <th>Sel</th>
                    <th>Nombre Documento</th>
                   
                </tr>
            </thead>
            <tbody>
                @@@tr
            </tbody>
        </table>

      </div>
      <button type="button" class="btn btn-secondary btn-sm btn-block" id="elimina-files">
          <i class="far fa-trash-alt"></i> Eliminar Archivos
        </button>
    </div>

  <div class="col-md-5">
    <br>
    <br>

    <div class="input-group mb-3">
      <input type="file"  id="archivo" name="archivo"/>
      <button class="btn btn-danger btn-sm" type="button" id="sube-button">
        <i class="fas fa-upload"></i> Subir
      </button>
    </div>
  </div>
  </div>
  <div class="row">
    <div class = 'col-md-12'>
      <hr>
      Hay <strong>@@@num</strong> de archivo(s) asignado(s) a este usuario
    </div>
  </div>
  <input type="hidden" name="id" id="id" value="ingresa-file">
  <input type="hidden" name="id_user" id="id_user" value="@@@id_user">
</form>

<script type="text/javascript">
    $(document).ready(function() {

        $('#elimina-files').click( function( event ){

          var id_documento = $('.id_documento').serialize()
          var id_user      = $('#id_user').val()  

          if( !validaChain( id_documento ) )
          {
            alert( 'no dejar casilleros en blanco' )
            return false;

          }else{

            var data = { 'id'           : 'elimina-varios-files',
                         'id_documento' : id_documento,
                         'id_user'      : id_user   }



            $.ajax({
                      type: "POST",
                      url: "response.php",
                      data: data,
                  
                      success: function( response ) {
                        console.log(response);

                      $("#espacio-tabla-docs").html(response);
                       
                      },
                    
                      error: function( response ) {
                      console.log(response);
                      window.location.reload(true);
                    }
                  }); 	

          }
        })

        $('#sube-button').click(function( event ){

          event.preventDefault()

          var archivo  = $('#archivo').val()
          var formData = new FormData($(".formulario")[0]);

          var res = archivo.split(".");

          var tam = res[0].length

          if( archivo == '' )
          {
            alert('no dejar espacio de archivo vacio')
            return false;

          }else
              if( !validaArchivo( archivo ) )
              {
                alert( 'Tipo de Archivo no valido' )
                return false;
                
              }else{

                   if( tam > 40 )
                   {
                     alert(" Demasiados caracteres en el archivo, favor renombrar "+tam)
                     return false

                   }else 
                      $.ajax({
                                type: "POST",
                                url: "response.php",
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,

                                success: function( response ) {
                                  console.log(response);

                                $("#espacio-tabla-docs").html(response);

                                },

                                error: function( response ) {
                                console.log(response);
                                window.location.reload(true);
                        }
                      });

              }
        })
    });

    function validaArchivo( archivo_name )
    {
      div = divideChain( archivo_name,'.' )

      if( div[1] == 'pdf' || div[1] == 'PDF' )
            return true;
      else  return false;

    }

    function validaChain(cadena){

    var arrCadena = divideChain(cadena,"&");

    var j =0;
    var aux = "";
    for (var i = 0; i < arrCadena.length; i++) {
      aux = divideChain (arrCadena[i],"=");
      
      if( aux[1]==undefined )
        j++;
    };

    if( j > 0)
      return false;
    else
      return true;
    }

    function divideChain(chain,simbolo){

      var div = chain.split( simbolo );
      return div;
    }
</script>
