<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success">
            
                <i class="far fa-smile"></i> 
                <strong>
                    DATA INGRESADA

                    <a href="content-page.php?id=Y29sYWJvcmFjaW9uLW9wZXJhcmlv"
                       class="btn btn-secondary btn-sm" 
                    >
                    <i class="fas fa-fighter-jet"></i> Crear Nueva Recepción
                    </a>
                </strong>
            
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-1">
        <label for="">
            RS
        </label>               
    </div>
    <div class="col-sm-2">
        <strong>
            ###rs###
        </strong>
    </div>
    <div class="col-sm-1">
        <label for="">
            Fecha
        </label>
    </div>
    <div class="col-sm-2">
        <strong>
            ###fecha###
        </strong>
        <input type="hidden" name="token" id="token" value="###token###">
    </div>
</div>

<hr>
<br>
<div class="row">
    <div class="col-sm-12">
        ###listado###
    </div>
</div>