<a  href="excel-guia-despacho.php?guia_despacho=###guia-despacho###&egreso=1" 
    target="_blank" class="btn btn-sm btn-success outline-line-verde" role="button">
    <i class="fas fa-arrow-circle-right"></i> Exportar a Excel
  </a>
<br>
<br>
<table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>fecha</th>  
      <th>nombre_producto</th>      
      <th>cantidad</th>
      <th>Valor Unitario</th>
      <th>Valor Total</th>
      <th>responsable</th>
    </tr>
    </thead>
    <tbody>
      ###tr###
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" align="right">
          <strong>
            TOTAL
          </strong>
        </td>
        <td colspan="2">
          $ ###total###
        </td>
      </tr>
    </tfoot>
  </table>
  