<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-light">
        Hay un total de <strong>###total-recs###</strong> registro(s)
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-dark">
      <thead >
        <tr>
          <th>codigo</th>
          <th>Producto</th>
          <th>Ubicaci&oacute;n</th>
          <th>Sub Ubicacion</th>
          <th>Categor&iacute;a</th>
          <th>Sub_Categoria</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        ###tr###
      </tbody>
    </table>
  </div>
</div>
<br>
