<h5>EGRESO GUIA <strong>###num_guia###</strong></h5>

<table border="1">
<tr>
    <td><strong>#</strong> </td>
    <td><strong>codigo </strong></td>
    <td><strong>Guia </strong></td>
    <td><strong>RS </strong></td>
    <td><strong>Insumo </strong></td>
    <td><strong>Familia </strong></td>
    <td><strong>Stock </strong></td>
    <td><strong>cantidad(salida) </strong></td>
    <td><strong>Valor Unitario </strong></td>
    <td><strong>Total </strong></td>
</tr>
###tr###
<tr>
    <td colspan="9" align="right">TOTAL</td>
    <td><strong>$ ###total### </strong></td>
</tr>
</table>