<div class="bloque">
  <div class="row">
    <div class="col-sm-12">
      <p class="h4">
        <strong>
        <i class="far fa-arrow-alt-circle-right"></i> Aportes de Cliente ( Listado )
        </strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="raya"></div>
    </div>
  </div>
  <br>
  ###menu_aux###
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div id="tablilla">
        Hay un total de <strong>###total-recs###</strong> registro(s) ingresado(s)
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Codigo</th>
              <th>Empresa</th>
              <th>Representante</th>
              <th>Fecha</th>
              <th>Inventariado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            ###tr###
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>
