<div class="bloque">
    <div class="row">
        <div class="col-sm-12">
            <p class="h4">
                <strong>
                <i class="far fa-arrow-alt-circle-right"></i>Listas de Material
                </strong>
              </p>
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-12">
          <div class="raya"></div>
        </div>
      </div>
      <br>
      ###menu_aux###
      <br>
      <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-light">
                Hay un total de <strong>###total-recs###</strong> registro(s)
            </div>

            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                  <tr>
                      <th>#</th>
                      <th>codigo</th>
                      <th>titulo</th>
                      <th>centro</th>
                      <th>modulos</th>
                      <th>jaulas</th>
                      <th>camaras/jaula</th>
                      <th>Fecha de Ingreso</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                    ###tr###
                </tbody>
         
            </table>
          </div>
      </div>
</div>