<a  href="excel-historico.php?codigo=###codigo_final###" 
    target="_blank" 
    class="btn btn-sm btn-success outline-line-verde" ><i class="fas fa-arrow-circle-right"></i> Exportar a Excel</a>
<br>
<br>
<table class="table table-hover table-responsive table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Familia</th>
            <th>stock</th>            
            <th width="25%">proveedor</th>
            <th width="10%">($) Costo unitario</th>
            <th width="10%">($) Costo Total</th>
            <th>Fecha Modificacion</th>
            <th>Operativo</th>
            <th>Modificado Por</th>
        </tr>
    </thead>
    <tbody>
        ###tr###
    </tbody>
</table>