<div class="bloque">
    <div class="row">
      <div class="col-sm-10">
        <p class="h4">
          <strong>
          <i class="far fa-arrow-alt-circle-right"></i>  Listado de Trabajos
          </strong>

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="raya"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        ###menu_aux###
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-light">
            Hay un total de <strong>###total-recs###</strong> registro(s)
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped ">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Trabajo</th>                         
              <th></th>
            </tr>
          </thead>
          <tbody>
            ###tr###
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="raya"></div>
      </div>
    </div>
    <br>
</div>
