<table class="table table-hover table-sm table-responsive" >
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Numero de Guia</th>
            <th>Tipo Documento</th>
            <th>Fecha</th>
            <th>Proveedor</th>
            <th>Estado</th>
            <th>Creado por</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        ###tr###
    </tbody>
</table>
<br>
<div class="row">
    <div class="col-sm-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          ###nav-links###
        </ul>
    </nav>
    </div>
  </div>

  <script>
        $('.pagination').click( function(){

        var valores = $(this).attr('data');
        var page     = valores.split("=");

        var data = {
            'accion':'send',
            'id':'listarGuiaIngresoPagination',
            'page':page[1] };

        ajx('#miTabla',data);

        });
  </script>