<table class="table table-sm table-hover table-striped">
    <thead  class="thead-dark">
        <tr>
            <th>#</th>
            <th>Insumo</th>
            <th>Cantidad Solicitada</th>
            <th>Unidad</th>
            <th>Fecha Ingreso</th>
            <th>Estado</th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        ###tr###
    </tbody>
</table>
<br>
<button class="btn btn-secondary btn-block outline-line-gris" id="guardarDataRecepcionRs">
    <i class="fas fa-angle-double-right"></i> Enviar Datos
</button>
<br>
<script>
        $('#guardarDataRecepcionRs').on( 'click' , ( e )=>{

        let rs = $('#rs').val();    
        let fecha = $('#fecha').val();    

        alert("rs::"+rs+", fecha::"+fecha);

    });
</script>