<div class="bloque">
  <div class="row">
      <div class="col-sm-12">
          <p class="h4">
              <i class="fas fa-arrow-circle-right"></i> <strong>  Lista de Categorías</strong>
              <a href="content-page.php?id=Y3JlYXItdGlwb3M=" class="btn btn-sm btn-success" role="button">
                  [ Crear Categoría ]
              </a>
          </p>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="raya"></div>
    </div>
  </div>
<br>
###menu-aux###

<br>

<div class="row">
  <div class="col-sm-12">
      <p>Hay un total de  <strong>###total-recs###</strong> registro(s) </p>
      <table class="table table-hover  table-striped">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Tipo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                ###tr###
            </tbody>
      </table>
  </div>
</div>

</div>
