<div class="row">
    <div class="col-sm-12">
        Hay un total de <strong>###total-recs###</strong> centros ingresados
        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre Cntro</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                ###tr###
            </tbody>
        </table>
    </div>
</div>