<br>
<div class="row">
    <div class="col-sm-12">
        <p class="h4">
            <strong>
            <i class="far fa-arrow-alt-circle-right"></i> Tabla de Materiales
            </strong>
          </p>
    </div>
</div>  
<div class="row">
    <div class="col-sm-12">
      <div class="raya"></div>
    </div>
  </div>
  <br>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-light">
            Hay un total de <strong>###total-recs###</strong> registro(s)
        </div>

        <table class="table table-responsive table-hover">
            <thead class="thead-dark">
                <th>Req.</th>
                <th>U.Medida</th>
                <th width="25%">Insumo</th>
                <th width="20%">Proveedor</th>
                <th>Stock</th>
                <th>a_comprar</th>
                <th width='15%'>($)P. Unitario</th>
                <th width='10%'>($) Total</th>
                <th>Item</th>
                <th width="10%"></th>
            </thead>
            <tbody>
                ###tr###
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" align="right">
                        <p class='h6'>
                            Total
                        </p>
                    </td>
                    <td colspan="2">
                        <p class='h6'>
                            $ ###suma_total###
                        </p>
                    </td>
                    
                </tr>
            </tfoot>
        </table>
    </div>
</div>
