<table class="table table-sm table-hover table-striped">
    <thead  class="thead-dark">
        <tr>
            <th>#</th>
            <th>Insumo</th>
            <th>Cantidad Recibida</th>
            <th>Unidad</th>
            <th>Fecha Ingreso</th>
            <th>Estado</th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        ###tr###
    </tbody>
</table>
<br>
###btn###

<br>
<script>
        $('#guardarDataRecepcionRs').on( 'click' , ( e )=>{

        e.preventDefault    

        let rs      = $('#rs').val();    
        let fecha   = $('#fecha').val(); 
        let token   = $('#token').val();    

        
        if( rs == '' )
        { alert('debe ingresar un RS');return false; }
        else if( fecha == '' )
        { alert('debe ingresar una Fecha');return false; }
        else{

            let data = { 'id':'ingresaEncabezadoMaterialRs',
                         'token':token,
                         'rs': rs,
                         'fecha':fecha   
            };


            if( confirm( 'Esta seguro de ingresar esta información???' ) )
                    ajx( "#listado", data );

        }
    });
</script>