<tr>
    <td>
        <button class="btn btn-sm btn-secondary" id="update-categoria-###id_categoria###">
                <i class="far fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" id="elimina-categoria-###id_categoria###">
                <i class="far fa-trash-alt"></i>
        </button>
    </td>
    <td>###descripcion###</td>
</tr>

<script>
    $('#elimina-categoria-###id_categoria###').on( 'click', ()=>{
        let id_categoria = '###id_categoria###';
       
        if( confirm( 'Está Seguro ???' ) )
        { 
            let data = {'id_categoria': id_categoria, 'id':'eliminaCategoria'};
            ajx( '#listado' , data );
         }   
    } );

    $('#update-categoria-###id_categoria###').on( 'click', ()=>{
        let id_categoria = '###id_categoria###';
        let data = {'id_categoria': id_categoria, 'id':'updateCategoria'};
        
        ajx( '#formulario-categorias' , data );
     } );


</script>