<tr>
  <td>###num###</td>
  <td>###cliente###</td>
  <td>
    <button class="btn btn-sm btn-secondary" id="edita-cliente-###id###">
        <i class="far fa-edit"></i>
    </button>
    <button class="btn btn-sm btn-danger" id="elimina-cliente-###id###">
        <i class="far fa-trash-alt"></i>
    </button>
  </td>
</tr>


<script>
  $('#elimina-cliente-###id###').on( 'click', ()=>{

    let id_cliente = '###id###';

    if( confirm('Está Seguro??') )
    {
      let data = {'id':'eliminaCliente', 'id_cliente':id_cliente};
      ajx('#multiverso', data);
    }
  });

  $('#edita-cliente-###id###').on('click', ()=>{

      let id_cliente = '###id###';
      let data = {'id':'editaCliente', 'id_cliente':id_cliente};

      ajx('#multiverso', data);

  });

</script>
