<tr>
    <td>###num###</td>
    <td>
        <strong>
            ###num_guia###
        </strong>
    </td>
    <td>###rs###</td>
    <td>###fecha###</td>
    <td>###cliente###</td>
    <td>###estado###</td>
    <td>###usuario###</td>
    <td>
        <button class="btn btn-sm btn-secondary outline-line-gris"
                data-toggle="modal"
                data-target="#ver-insumos-###token###">
            <i class="far fa-eye"></i> Detalle
        </button>
        &nbsp;
        <button id="edita-egreso-###id###" class="btn btn-sm btn-secondary">
          <i class="far fa-edit"></i> Edit
        </button>
        ###modal###
    </td>
</tr>

<script type="text/javascript">
  $('#edita-egreso-###id###').on('click',(event)=>{

    event.preventDefault;
      let id_egreso = '###id###';
      let token     = '###token###';

      if( confirm( "Edicion de Egreso. Está seguro??" ) )
      {
          let data = {'id'        :'editaEgreso' ,
                      'id_egreso' :id_egreso,
                      'token'     :token       };

          ajx( '#cubo', data );
      }
  });
</script>
