<tr>
    <td>###num###</td>
    <td>
        <strong>
            ###num_guia###
        </strong>
        </td>
    <td>###tipo-documento###</td>    
    <td>###fecha###</td>
    <td>###proveedor###</td>
    <td>###estado###</td>
    <td>###usuario###</td>
    <td>    
        <button class="btn btn-sm btn-secondary outline-line-gris"
                data-toggle="modal"    
                data-target="#ver-insumos-###token###"    
        
        >
            <i class="far fa-eye"></i> Ver Insumos
        </button>
        ###modal###
    </td>
</tr>