<tr>
    <td>###num###</td>
    <td>###codigo###</td>
    <td>###num_guia###</td>
    <td>###insumo###</td>
    <td>###familia###</td>
    <td>###stock###</td>
    <td>
        <input type="text" name="cantidad" id="cantidad" class="cantidad form-control" placeholder="Cantidad">
    </td>
    <td>
        ###valor###
        <input type="hidden" name="id_detalle" id="id_detalle" class="id_detalle" value="###id###">
        <input type="hidden" name="stock" id="stock" class="stock" value="###stock###">
        <input type="hidden" name="id_insumo" id="id_insumo" class="id_insumo" value="###id_insumo###">
    </td>
</tr>