<tr>
    <td>###num###</td>
    <td>###insumo###</td>
    <td>###cantidad_solicitada###</td>
    <td>###unidad###</td>
    <td>###fecha_ingreso###</td>
    <td>###estado###</td>
    <td>
         ###btn###   
    </td>            
</tr>

<script>
    $('#elimina-elemento-###ID###').on( 'click', ()=>{
        let id_row = '###ID###';
        let token  = '###token###'; 

        if( confirm( 'Esta Seguro de Eliminar esta fila?' )  )
        {
            let data = {'id':'eliminaRowRecepcion', 
                        'id_row':id_row, 
                        'token':token} 

           ajx('#listadoKart', data);             
        }                    
    });
</script>