<tr>
    <td>###NUM###</td>
    <td>###RS###</td>
    <td>###TOKEN###</td>
    <td>###FECHA###</td>
    <td>###FECHA-MODIFICACION###</td>
    <td>
        <strong>
            ###ESTADO###
        </strong>
    </td>
    <td>###CREADO-POR###</td>
    <td>
        <button class="btn btn-sm btn-secondary outline-line-gris"
                data-toggle = "modal"
                data-target = "#detalle-insumos-###ID###"
        >
            <i class="far fa-eye"></i> Detalle
        </button>
        ###modal###
    </td>
</tr>